{% extends "clientmanager/base.html" %}
{% load static %}

{% block title %}Calendar{% endblock %}
{% block extra_head %}
{% endblock %}

{% block content %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h1 class="text-dark mb-0">404 Sorry, something went wrong!</h3>
                    </div>
                </div>
            </div>
{% endblock %}
{% block extra_js %}
{% endblock %}